<!DOCTYPE html>
<html lang="en" ng-app="test">
<head>
    <meta charset="UTF-8">
    <title>Test 1</title>
    <link rel="stylesheet" href="shared/bootstrap.min.css" />
    <script type="text/javascript" src="shared/angular.min.js"></script>
    <script type="text/javascript" src="shared/lodash.core.min.js"></script>
    <script type="text/javascript" src="test-03-3.js"></script>
</head>
<body>
<div ng-controller="test03Controller as ctrl">
    <div class="btn btn-default" ng-click="ctrl.start()">Start</div>
    <table>
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr ng-repeat="entry in ctrl.entries">
                <td>{{entry.id}}</td>
                <td>{{entry.first_name}}</td>
                <td>{{entry.last_name}}</td>
                <td>{{entry.gender}}</td>
                <td>{{entry.email}}</td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>